NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CMS_ADMIN_EMAIL=
CMS_SITE_URL=
GITHUB_CONTENTS_TOKEN=
GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
GITHUB_REPO_BRANCH=main
GITHUB_REPO_BASE_PATH=
GITHUB_COMMIT_AUTHOR_NAME=
GITHUB_COMMIT_AUTHOR_EMAIL=
X_BEARER_TOKEN=
LINKEDIN_ACCESS_TOKEN=
LINKEDIN_API_VERSION=
YOUTUBE_DATA_API_KEY=
